:root {
  --aboutHeight: 0;
  --aboutWidth: 0;
  --backgroundPath: "";
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%, -50%);
  height: var(--aboutHeight);
  width: var(--aboutWidth);
  z-index: -10;
  background: var(--backgroundPath);
}
