<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') |autoversion}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bodybackground.css') |autoversion}}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.13.0-web/css/all.css')}}" /> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="fontawesome-free-5.13.0-web/css/all.css" /> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="/static/images/c2.ico">
    {%block head%}{%endblock%}
  </head>
  <body>
    <header>
      <nav>
        <div class="side logo">
          <a href="/">carmen photography</a>
        </div>
        <ul>
          <li><a href="/">H O M E</a></li>
          <li><a href="/gallery/">G A L L E R Y</a></li>
          <li><a href="/about/">A B O U T</a></li>
          <li><a href="/contact/">C O N T A C T</a></li>
        </ul>
        <div class="side bt">
          <button type="button">Login</button>
        </div>
        <div class="side bars">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
      {%block nav%}{%endblock%}
    </header>
    <div class="background"></div>
    <div class="foreground">
      <div class="main">
        {%block body%}{%endblock%}
      </div>
      <footer>
        <div class="socialbar">
          <div class="instagram">
            <a href="https://www.instagram.com/carm.enb/?hl=de"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="facebook">
            <a href="https://www.facebook.com/carmen.battig"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="pinterest">
            <a href="https://www.pinterest.ch/190792CB/"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
        <ul class="copyrightbar">
          <li>&copy2021</li>
          <li class="logofoot">- carmen photography</li>
          <li><a href="https://github.com/StefanBa/carmenphotography"> - webdesign on Github </a></li>
          <li>
            <a href="https://github.com/StefanBa/carmenphotography"><i class="fab fa-github"></i></a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/navbar.js') |autoversion}}"></script>
    {%block script%}{%endblock%}
  </body>
</html>
