{% extends 'base.html'%} {%block head%} <title>carmen photography - gallery</title> {%endblock%} {%block nav%}
<div class="subnav">
  <div class="item wedding">
    <a href="#">W E D D I N G</a>
  </div>
  <div class="item people">
    <a href="#">P E O P L E</a>
  </div>
  <div class="item world">
    <a href="#">W O R L D</a>
  </div>
</div>
{%endblock%} {%block body%}

<div class="gallery">
  <!-- <div class="picture"></div> -->
  <!-- <script src="./js/gallery.js"></script> -->
  <script src="{{ url_for('static', filename='js/gallery.js') |autoversion}}"></script>
</div>
{%endblock%}
