{% extends 'base.html'%} {%block head%} <title>carmen photography - home</title> {%endblock%} {%block body%}
<div class="home">
  <div class="title">carmen photography</div>
  <div class="spacer"></div>
  <div class="subboarder">
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
    <div class="subitem"></div>
  </div>
</div>
<!-- <script src="../js/background.js" path="../images/mountain.jpg"></script> -->

{%endblock%} {%block script%}
<script src="{{ url_for('static', filename='js/background.js')}}" path="{{ url_for('static', filename='images/title.jpg')}}"></script>
{%endblock%}
