{% extends 'base.html'%} {%block head%} <title>carmen photography - contact</title> {%endblock%} {%block body%}
<div class="about">
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="title">Vielen Dank</div>
  <div class="text">Deine Anfrage wurde gesendet.</div>
  <div class="spacer"></div>
</div>
{%endblock%} {%block script%}
<script src="{{ url_for('static', filename='js/bodybackground.js') |autoversion}}" path="{{ url_for('static', filename='images/contact.jpeg') |autoversion}}"></script>
{%endblock%}
